@import "tailwindcss";

@theme dark {
  --color-background: #080808;
  --color-foreground: #c9cdd4;

  --color-primary: #cc272f;
  --color-primary-foreground: #f7f7f7;

  --color-secondary: #aaaeb5;
  --color-secondary-foreground: #080808;

  --color-card: #121212;

  --color-muted: #212121;
  --color-muted-foreground: #8c9096;
}

/* .inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 to 700;
  font-style: normal;
} */
:root {
  --background: @theme (--color-background);
  --foreground: @theme (--color-foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
}
